.dataset {
  color: $black;
}

// SECTION TITLE
.dataset.section-title {
  font-size: 1.5rem;
  text-align: left;

  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  border-color: #dddddd;
}

.dataset.leaderboard {
  border-collapse: collapse;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 300;
  min-width: 100%;
  text-align: center;

  .name {
    text-align: left;
  }

  .ranxhub-id {
    text-align: left;
  }

  .metric,
  .metric-score {
    text-align: center;
  }

  tr {
    color: $black;
  }
}
