// $brand-color: rgb(77, 124, 234);
// $secondary-brand-color: rgb(160, 95, 183);
$brand-color: rgb(99, 106, 224);
$secondary-brand-color: rgb(153, 255, 153);
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

$black: #333333;
// $link-color: rgb(77, 124, 234);
$link-color: rgb(99, 106, 224);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
